<div class="sidebar">
  <ul class="sidebar-links">
    <li>
      <a href="/" class="sidebar-link{% if page.url == '/' %} active{% endif %}">Home</a>
    <!--  -->
    <li>
      {% assign folders = site.collections | sort: 'order' %}
      {% for folder in folders %}
        {% if folder.label != "posts" %}
      <div class="sidebar-group">
        <strong class="sidebar-heading open">{{ folder.title }}</strong>
        <ul class="sidebar-group-items">
          {% assign docs = folder.docs | sort: 'chapter' %}
          {% for doc in docs %}
          <li>
            <a href="{{doc.url}}" class="sidebar-link{% if page.url == doc.url %} active{% endif %}">{{ doc.title }}</a>
          {% endfor %}
      </div>
        {% endif %}
      {% endfor %}
</div>
<div class="sidebar-mask"></div>
